{% extends 'header.html.twig' %}

{% block body %}
<main class="product-detail">
    <section class="product-info">

        <div>
            {% if sweatshirt.imageName %}
                <img src="{{ asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}" alt="{{ sweatshirt.name }}" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>

        <div>
            <h1>{{ sweatshirt.name }}</h1>
            <p>Prix: {{ sweatshirt.price }} €</p>
        </div>

        <div>
            {{ form_start(form) }}
                <div  class="size-selector">
                    {{ form_widget(form.size) }}  <!-- Le sélecteur de taille -->
                    {{ form_widget(form.submit) }} <!-- Le bouton -->
                </div>
            {{ form_end(form) }}
        </div>

    </section>
</main>
{% endblock %}
